---
import { getCollection } from 'astro:content';
import { sortByDateDesc } from '../helpers';

const posts = (await getCollection('blog')).sort(sortByDateDesc);

type PostsMap = Map<number, Set<number>>;

const postsByYear: PostsMap = new Map();

posts.forEach((post) => {
    const postDate = post.data.updatedDate ?? post.data.pubDate;
    const postMonth = postDate.getUTCMonth();
    const postYear = postDate.getUTCFullYear();
    if (!postsByYear.has(postYear)) {
        postsByYear.set(postYear, new Set([postMonth]));
    }
    else {
        postsByYear.get(postYear)?.add(postMonth);
    }
});

const years: number[] = Array.from(postsByYear.keys());

const monthNames = [
    'January', 'February', 'March', 'April', 'May', 'June', 'July', 
    'August', 'September', 'October', 'November', 'December'
];

const open = true;

---

<section>
    <h2>Archives</h2>
    {
        years.map((year, index) => (
            <details open={ index === 0 && open }>
                <summary>{year}</summary>
                <ul>
                    {
                        Array.from(postsByYear.get(year)!).map((month) => (
                            <li>
                                <a href={`/${year}/${month + 1}`}>
                                    {monthNames[month]}, {year}
                                </a>
                            </li>
                        ))
                    }
                </ul>
            </details>
        ))
    }
</section>

<style>
    section {
        display: inline-block;
        width: 100%;

        h2 {
            font-size: 2em;
        }

        & details {
            margin-left: 2rem;
        }
    }
</style>