---

import PageFindHead from '../components/PageFindHead.astro';
---

<PageFindHead />

<div id="search" transition:persist=""></div>
<script>
  window.addEventListener("DOMContentLoaded", () => {
    new PagefindUI({ 
        element: "#search",
        showImages: true,
        showEmptyFilters: false
    });
  });
</script>