---
import MiniNav from '../components/MiniNav.astro';
import BlogName from '../components/BlogName.astro';
import Hamburger from '../components/Hamburger.astro';
import BaseHead from '../components/BaseHead.astro';
import FontHead from '../components/FontHead.astro';
import Tags from '../components/AllTags.astro';
import Archive from '../components/Archive.astro';
import Footer from '../components/Footer.astro';
import PageFind from '../components/PageFind.astro';

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead {title} {description} />
        <FontHead />
	</head>
	<body>
        <MiniNav />
        <Hamburger position="fixed" top="10px" right="1rem" />
        <div class="site-title">
            <BlogName scale={1.5} />
        </div>
        <!-- <div class="search-wrapper">
            <PageFind />
        </div> -->
        <div class="content-wrapper">
            <main>
                <slot />
            </main>
            <aside>
                <div class="aside-scroll-wrapper">
                    <div class="aside-wrapper">
                        <div class="search-wrapper">
                            <PageFind />
                        </div>
                        <Tags />
                        <Archive />
                    </div>
                </div>
            </aside>
        </div>
		<Footer />
	</body>
</html>

<style>
    @layer override {
        :global(.hamburger) {
            @media (min-width: 1200px) {
                display: none;
            }
        }
    }

    @layer layout {
        body {
            overflow-x: hidden;

            @media (max-width: 1200px) {
                &:has(.hamburger[open]) {
                    overflow-y: hidden;
                }
            }

            @media (min-width: 1200px) {
                overflow-y: visible;
            }
        }

        .site-title {
            visibility: hidden;

            @media (min-width: 1200px) {
                visibility: visible;
                padding-top: 2rem;
                text-align: center;
            }
        }

        :global(.hamburger) {

            @media (min-width: 1200px) {
                position: relative;
            }

            @media (max-width: 1200px) {
                & ~ .content-wrapper aside, & ~ .search-wrapper {
                    display: none;
                }

                &[open] ~ .search-wrapper {
                    /* display: block;
                    position: relative;
                    left: 25%;
                    width: 50%; */
                    display: block;
                    width: 50%;
                    margin: -1.5rem auto 2rem auto;
                    z-index: 200;
                }

                &[open] ~ .content-wrapper aside {
                    display: block;
                    position: fixed;
                    left: 0;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    
                    @media (prefers-color-scheme: light) {
                        background-color: rgb(var(--gray-light));
                    }
                    @media (prefers-color-scheme: dark) {
                        background-color: rgb(var(--gray-dark));
                    }

                    & .aside-scroll-wrapper {
                        position: relative;
                        width: 100%;
                        padding-top: 4rem;
                        height: calc(100vh - 10rem);
                        overflow-y: auto;
                    }

                    & .aside-wrapper {
                        display: flex;
                        flex-direction: column;
                        gap: 2rem;
                        position: relative;
                        width: 50%;
                        margin: 3rem auto 10rem auto;
                    }
                }
            }
        }

        .content-wrapper {
            display: flex;
            gap: 5px;
            width: 100%;
            text-align: left;

            @media (min-width: 1200px) {
                width: 100%;
                justify-content: space-between;
            }

            & main {
                display: inline-block;
                width: 100%;
                max-width: 768px;
                margin: 0 auto;
                padding: 0;

                @media (min-width: 768px) {
                    width: 768px;
                }

                @media (min-width: 1200px) {
                    max-width: 1024px;
                    flex-shrink: 0;
                    flex-grow: 0.6;
                }
            }

            @media (min-width: 1200px) {
                & aside {
                    display: inline-block;
                    position: relative;
                    padding: 0 5rem 3rem 1.5rem;
                    flex-shrink: 0;
                    flex-grow: 0.4;

                    & .aside-wrapper {
                        display: flex;
                        flex-direction: column;
                        gap: 2rem;
                        justify-content: flex-start;
                        align-items: center;

                        & .search-wrapper {
                            width: 100%;
                            max-width: 28vw;
                            padding: 0;
                            margin-top: 2rem;

                            & :global(#search) {
                                max-width: 28vw;
                                margin: 0;
                            }
                        }
                    }
                }
            }
        }
    }
</style>