---
import type { CollectionEntry } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';
import TagList from '../components/TagList.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, tags, pubDate, updatedDate } = Astro.props;
---


<article>
	<div class="title">
		<h1 data-pagefind-body data-pagefind-weight="3">{title}</h1>
		<div class="date">
			<FormattedDate date={pubDate} />
			{
				updatedDate && (
					<div class="last-updated-on">
						Last updated on <FormattedDate date={updatedDate} />
					</div>
				)
			}
		</div>
        <div class="article-tags" data-pagefind-body data-pagefind-weight="4" data-pagefind-meta="tags">
		    { tags && <TagList {tags} /> }
        </div>
		<hr />
	</div>
	<div class="prose" data-pagefind-body data-pagefind-weight="1">
		<slot />
	</div>
</article>

<style>
    @layer layout {
        article {
            max-width: calc(100% - 2em);
            margin: auto;
            padding: 1em;
        }
        .title {
            margin-bottom: 1em;
            padding: 1em 0;
            text-align: center;
        }
        .title h1 {
            margin: 0 0 0.2em 0;
        }
        .date {
            margin-bottom: 0.5em;
            color: rgb(var(--gray));
        }
        .last-updated-on {
            font-style: italic;
        }
    }
</style>